/*
TITLE: Course Page
AUTHOR: Abukar Djama
PURPOSE: Class Index Page to Host Lab Work for N341
NOTE: Based on template provided by instructor
ORIGINALLY CREATED ON: 08/24/2022
LAST MODIFIED ON: 08/27/2022
LAST MODIFIED BY: Abukar Djama
MODIFICATION HISTORY: 
08/24/2022: Created page & hosted on tesla server
08/27/2022: added header gaurd onto file
*/
body {
    background-color: black;
    color: white;
}

.jumbotron {
    background-color: #FF6F5E;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.leaveBtn {
    background-color: #FF5D6C;
    color: white;
}
.leaveBtn:hover {
    background-color: #FBCEB5;
    color: black;
}