body{
  background-color: #EAF6F6
}

hr {
  border-style: none;
  border-top-style: none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

table {
  cellspacing: 20;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

.card {
    width: 100%;
    height: 100%;
}

.diamond1 {
    width: 5%;
    height: 11%;
    background-color: #DB3056;
    transform: skew(0,40deg);
    /* margin: 10%; */
    float: left;
}
.diamond2 {
    width: 5%;
    height: 11%;
    background-color: blue;
    /* border-radius: 10px; */
    transform: skew(0,40deg);
    /* transform: rotate3d(1,1,1,45deg); */
    float: left;
    margin-left: .1%;
    margin-top: 5%;
}

